div.header {
    background-color: #FFFFFF;
/*    background-image:url(../img/header.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-origin: content-box;*/
    overflow: hidden;
}
h1#title {
    position: relative;
    width: 500px;
    bottom: 30px;
    left: 90px;
}
h2#subtitle {
    position: relative;
    width: 500px;
    bottom: 105px;
    left: 180px;
}
div#line {
    position: relative;
    border: 2px solid;
    border-radius: 5px;
    bottom:120px;
    left: 50px;
    width: 80%;
    height: 2px;
    background-color: #2C5AA0; 
    border-color: #2C5AA0; 
}